header {
    background-image: url("../../assets/images/navbg2.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 100%;
    color: #fff;
}
 body {
    background-image: url("../../assets/images/bodybg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 100%;
}
 .card {
    padding: 0px!important;
}
 .card-header {
    padding: 0px!important;
}
 .btn-link {
    text-decoration: none!important;
} 
