header {
    /* background-image: url("../../assets/images/navbg2.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 100%;
    color: #fff;
}
 body {
    /* background-image: url("../../assets/images/bodybg.jpg"); */
    background-repeat: no-repeat;
    background-size: 100%;
    height: auto;
    min-height: 100%;
}
 .card {
    padding: 0px!important;
    word-break: break-all;
    white-space: wrap;
    
}


 .card-header {
    padding: 0px!important;
}
 .btn-link {
    text-decoration: none!important;
} 
.btn{
      white-space: normal;
    }
.card-header.text-center.bg-light.occupation-title:hover {
    background: #c2c2d6!important;
 }

#state {
    width: 150px;
    margin: 0 auto;
}

/* @media only screen and (max-width: 480px) {
    #masterHead {
        position: static;
        margin-bottom: 20px;
        padding: 0;
    }
    #accordionExample { 
        width: 100%;
        margin: 15px 0;
        text-align: center;
    }
    

} 
  */

 


